body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #201b2c;
  color: white;
}

header{
  background: #1d1929;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: .8rem;
  height: 40px;
}

main {
  padding: 20px;
}

.profile {
  margin-bottom: 40px;
  text-align: center;
  color: #02be66;
}

.profile img {
  width: 220px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  margin-top: 150px;
  
}

.more-info {
  display: none;
  text-align: center;
  margin: 20px auto;
  width: 80%;
}

.more-info.hidden {
  display: none;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.5); 
  position: fixed;
  width: 100%;
  bottom: 0;
}

.box-img-header{
  height: 100%;
}

.img-logo{
  max-width: 50px;
  height: 100%;
  cursor: pointer;
}

nav{
  
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links{
padding: 16px 0px;
}


.nav-links:hover{
  color: white;
  transition: .4s;
  text-decoration: underline;
}

.icon-menu{
  height: 100%;
  text-align: right;
}

.img-lista{
    max-width: 50px;
    height: 100%;
    cursor: pointer;
    text-align: right;
}

.menu{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    overflow: hidden;
    height: 170px;
    background-color: #00ff88;
    text-align: center;
}

.show{
    transition: 1s; opacity: 1;
}

.hide{
    opacity: 0;
}

.menu > a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.darkmode{
    background-color: black;
}

body.dark{
    background: white;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #110e1a;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 25px;
    width: 47px;
    transform: scale(1.5);
}

.label .ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 1px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon{
    color: #00ff88;
}

.fa-sun{
    color: #00ff88;
}

