@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
   margin: 0; 
   font-family: 'Noto Sans', sans-serif;
   background-color:  #201b2c;
}
header{
    background: #1d1929;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    height: 40px;
}
.main-login{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login-image{
    width: 30vw;
}
.right-login{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffffde;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff88;
}

.box-img-header{
    height: 100%;
}

.img-logo{
    max-width: 50px;
    height: 100%;
    cursor: pointer;
}

nav{
  
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
padding: 16px 0px;
}


.nav-links:hover{
    color: white;
    transition: .4s;
    text-decoration: underline;
}

.box-btn-actions{
    display: flex;
    gap: 1rem;
}

button{
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
}
.btn-action{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.btn-action:hover{
    background-color: #00ff88;
    border: 1px  solid #026336;
}

.cadastro{
    text-decoration: none;
    color: #00ff88;
}

.cadastro:hover{
    color: white;
    transition: .4s;
    text-decoration: underline;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.icon-menu{
  height: 100%;
  text-align: right;
}

.img-lista{
    max-width: 50px;
    height: 100%;
    cursor: pointer;
    text-align: right;
}

.menu{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    overflow: hidden;
    height: 170px;
    background-color: #00ff88;
    text-align: center;
}

.show{
    transition: 1s; opacity: 1;
}

.hide{
    opacity: 0;
}

.menu > a{
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.darkmode{
    background-color: black;
}

body.dark{
    background: white;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #110e1a;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 25px;
    width: 47px;
    transform: scale(1.5);
}

.label .ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 1px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon{
    color: #00ff88;
}

.fa-sun{
    color: #00ff88;
}
